<table mat-table [dataSource]="invoice.lines">
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> item </th>
      <td mat-cell *matCellDef="let line"> {{line.item.name}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef> price </th>
      <td mat-cell *matCellDef="let line"> {{line.unitPrice.toFixed(2)}} </td>
      <td mat-footer-cell *matFooterCellDef> Subtotal: {{getSubtotal()}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> quantity </th>
      <td mat-cell *matCellDef="let line"> {{line.quantity}} </td>
      <td mat-footer-cell *matFooterCellDef> Taxes: {{getTaxes()}} </td>
    </ng-container>
    <ng-container matColumnDef="vat">
      <th mat-header-cell *matHeaderCellDef> vat </th>
      <td mat-cell *matCellDef="let line"> {{line.vat.toFixed(2)}} % </td>
      <td mat-footer-cell *matFooterCellDef> Total: {{getTotal()}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="linesToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: linesToDisplay"></tr>
    <tr mat-footer-row *matFooterRowDef="linesToDisplay; sticky: true"></tr>
</table>