table {
    width: 100%;
    background: #efefef;

    .mat-column-item {
        width: 50%;
    }

    tr.mat-footer-row {
        font-weight: 500;
    }
    
    .mat-table-sticky {
        border-top: 1px solid #e0e0e0;
    }
}