@import 'src/assets/layout/colors';

table {
    width: 100%;
    background: $color-bg-dark;

    .mat-column-item {
        width: 50%;
    }

    tr.mat-footer-row {
        font-weight: 500;
    }
}