<mat-card>
    <mat-card-title>
        <h1>Business</h1>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="requestForm">
            <div class="flex row wrap pt-1" formGroupName="business">
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" required matInput type="text" name="name">
                    <mat-error>Enter a valid name</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" required matInput type="email" name="email">
                    <mat-error>Enter a valid email</mat-error>
                </mat-form-field>
              <mat-form-field appearance="fill" class="flex-5">
                  <mat-label>Phone</mat-label>
                  <input formControlName="phone" matInput type="text" name="phone">
                  <mat-error>Enter a valid phone</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="flex-5">
                <mat-label>Address</mat-label>
                <input formControlName="address" matInput name="address" required>
              </mat-form-field>
              <mat-form-field appearance="fill" class="flex-5">
                <mat-label>VAT</mat-label>
                <input formControlName="vat" matInput name="vat" required>
                <mat-error>VAT is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="flex-5">
                <mat-label>VAT in VIES</mat-label>
                <input formControlName="vies" matInput name="vies">
              </mat-form-field>
              <mat-form-field appearance="fill" class="flex-5">
                <mat-label>Bank</mat-label>
                <mat-select formControlName="bankId" required>
                  <mat-option *ngFor="let bank of banks"
                    [value]="bank.id">
                    {{bank.name}}
                  </mat-option>
                </mat-select>
                <mat-error>Bank is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="flex-5">
                <mat-label>Bank Account</mat-label>
                <input formControlName="bankAccount" required matInput name="bankAccount">
                <mat-error>Bank account is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="flex-5">
                <mat-label>Commercial Registry</mat-label>
                <input formControlName="commercialRegistry" required matInput name="commercialRegistry">
                <mat-error>Commercial registry is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="flex-5">
                <mat-label>Website</mat-label>
                <input formControlName="website" matInput name="website">
              </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button (click)="save()" mat-button [disabled]="requestForm.invalid">Save</button>
    </mat-card-actions>
</mat-card>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>