.invoice-line-wrapper {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;

  table {
    width: 100%;

    .mat-column-actions {
      width: 10%;
    }

    tr.mat-footer-row {
      font-weight: bold;
    }
    
    .mat-table-sticky {
      border-top: 1px solid #e0e0e0;
    }
  }
}
