<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-6">
    <label for="date">Data</label>
    <p-calendar inputId="date" 
      [(ngModel)]="transaction.date"></p-calendar>
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="document">Document</label>
    <input [(ngModel)]="transaction.document" id="document" type="text" pInputText> 
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="currency">Moneda</label>
    <p-dropdown inputId="currency" 
      [options]="currencies" 
      [(ngModel)]="transaction.currency"
      optionLabel="label" optionValue="value"
      placeholder="Selecteaza"></p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="partner">Partener</label>
    <p-dropdown inputId="partner" 
      [options]="partners"
      optionLabel="name"
      optionValue="id" 
      [(ngModel)]="transaction.partnerId"
      placeholder="Selecteaza"></p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="type">Tip</label>
    <p-dropdown inputId="type" 
      [options]="types" 
      [(ngModel)]="transaction.type"
      optionLabel="label" optionValue="value"
      placeholder="Selecteaza"></p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="method">Metoda</label>
    <p-dropdown inputId="method" 
      [options]="methods" 
      [(ngModel)]="transaction.method"
      optionLabel="label" optionValue="value"
      placeholder="Selecteaza"></p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="value">Valoare</label>
    <input [(ngModel)]="transaction.value" id="value" type="number" pInputText> 
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="details">Cantitate</label>
    <input [(ngModel)]="transaction.details" id="details" type="text" pInputText> 
  </div>
  <div class="p-field p-col-12 p-d-flex p-jc-end p-ai-center">
    <label for="deductible">Deductibil</label>
    <p-inputSwitch class="p-ml-2" id="deductible" 
      [(ngModel)]="transaction.deductible"></p-inputSwitch>
  </div>
  <div class="p-col-12 p-d-flex p-ai-center">
    <p-progressSpinner *ngIf="loading" 
      [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
    <span style="flex: 1"></span>
    <p-button icon="pi pi-times" label="Anuleaza" 
      [disabled]="loading"
      styleClass="p-button-danger p-button-text" 
      (click)="cancel()"></p-button>
    <p-button icon="pi pi-check" label="Salveaza" 
      [disabled]="loading"
      styleClass="p-button-text"
      (click)="save()"></p-button>
  </div>
</div>