<div class="dialog-wrapper">

    <div class="inner-wrapper">
        <h1>Creare item</h1>

        <form [formGroup]="requestForm">
            <div formGroupName="item" class="flex row wrap">
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Nume</mat-label>
                    <input formControlName="name" required matInput name="name">
                    <mat-error>Nume invalid</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Cod</mat-label>
                    <input formControlName="code" matInput name="code">
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Pret</mat-label>
                    <input formControlName="unitPrice" required matInput type="number" name="unitPrice">
                    <mat-error>Introdu un pret valid</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>TVA</mat-label>
                    <mat-select formControlName="vat" required>
                        <mat-option value="0.00">0 %</mat-option>
                        <mat-option value="5.00">5.00 %</mat-option>
                        <mat-option value="9.00">9.00 %</mat-option>
                        <mat-option value="19.00">19.00 %</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Unitate de masura</mat-label>
                    <input formControlName="uom" matInput name="uom">
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Tip</mat-label>
                    <mat-select formControlName="type" required>
                        <mat-option value="PRODUCT">Produs</mat-option>
                        <mat-option value="SERVICE">Serviciu</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex-10">
                    <mat-label>Descriere</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </form>

        <div class="flex row justify-end">
            <button mat-button color="primary" (click)="create()" [disabled]="requestForm.invalid || loading">Salveaza</button>
            <button mat-button color="warn" (click)="dismiss()">Anuleaza</button>
        </div>
    </div>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

</div>
  