<div class="table-container mat-elevation-z1">
    <div class="loading-shade" *ngIf="loading">
      <mat-spinner [diameter]="50" *ngIf="loading"></mat-spinner>
    </div>

    <div class="table-header flex row justify-between">
        <h3>Clienti</h3>
        <button mat-button (click)="add()">Adauga client</button>
    </div>

    <table mat-table [dataSource]="data" multiTemplateDataRows>

      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="flex p-1" style="width: 100%;">
              <div class="self-align-end">
                <button color="primary" mat-button (click)="edit(expandedElement)">Editeaza</button>
                <button color="warn" mat-button (click)="delete(expandedElement)">Sterge</button>
              </div>
            </div>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row 
        *matRowDef="let element; columns: columnsToDisplay;"
        class="element-row"
        [class.element-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row class="element-detail-row" *matRowDef="let row; columns: ['expandedDetail']"></tr>

    </table>
    <mat-paginator [length]="dataSize" [pageSize]="10"></mat-paginator>
</div>