<mat-card *ngIf="business">
    <mat-card-title>{{business.name}}</mat-card-title>
    <mat-card-subtitle>{{business.email}}</mat-card-subtitle>
    <mat-card-content>
        <div class="flex row">
            <div class="flex-5">
                <p><strong>Adresa:</strong> {{business.address}}</p>
                <p><strong>Telefon:</strong> {{business.phone}}</p>
                <p><strong>VAT:</strong> {{business.vat}}</p>
                <p><strong>VIES:</strong> {{business.vies}}</p>
            </div>
            <div class="flex-5">
                <p><strong>Website:</strong> {{business.website}}</p>
                <p><strong>Reg Com:</strong> {{business.commercialRegistry}}</p>
                <p><strong>Banca:</strong> {{business.bank.name}}</p>
                <p><strong>Cont bancar:</strong> {{business.bankAccount}}</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>