.table-container {
    position: relative;
    margin: 10px;

    table {
      width: 100%;
    }

    .table-header {
      h3 {
          margin: 0;
          padding: 10px;
      }
    }

    .element-detail {
      overflow: hidden;
      display: flex;
    }

    tr.element-detail-row {
      height: 0 !important;
      background-color: #efefef;
    }

    .element-row {
      cursor: pointer;
    }

    .element-row:not(.element-expanded-row):hover {
      background: whitesmoke;
    }
    
    .element-row:not(.element-expanded-row):active {
      background: #efefef;
    }

    .element-row td {
      border-bottom-width: 0;
    }

    .loading-shade {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}