.table-container {
    position: relative;
    margin: 12px;

    table {
      width: 100%;
    }

    .table-header {
      background: #ffffff;
      h3 {
        margin: 0;
        padding: 12px 12px 12px 24px;
        font-weight: 500;
      }

      button {
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    .table-footer {
      background: #ffffff;

      button {
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    .element-detail {
      overflow: hidden;
      display: flex;
    }

    tr.element-detail-row {
      height: 0 !important;
      background-color: #efefef;
    }

    .element-row {
      cursor: pointer;
    }

    .element-row:not(.element-expanded-row):hover {
      background: whitesmoke;
    }
    
    .element-row:not(.element-expanded-row):active {
      background: #efefef;
    }

    .element-row td {
      border-bottom-width: 0;
    }

    .loading-shade {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}