<div class="main-wrapper">
  <div class="main-side-nav-wrapper" *ngIf="isLoggedIn">
    <div class="main-side-nav-inner">
      <div class="main-side-nav-inner-header">
        <h1>{{name}}</h1>
      </div>
      <div class="main-side-nav-inner-menu">
        <button mat-button [routerLink]="item.path" *ngFor="let item of menuItems">
          {{item.text}}
          <mat-icon>{{item.name}}</mat-icon>
        </button>
        <button mat-button (click)="logout()">
          Deconectare
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
      <div class="main-side-nav-inner-footer">
        <p>© 2021 Cătălin Matache</p>
      </div>
    </div>
  </div>
  <div class="main-content-wrapper" [class.main-content-wrapper-margin]="isLoggedIn">
    <div class="p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
