<div class="component" *ngIf="isLoggedIn">
  <mat-toolbar color="secondary">
    <mat-toolbar-row>
      <button mat-button [routerLink]="item.path" *ngFor="let item of menuItems">
        {{item.text}}
        <mat-icon>{{item.name}}</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-button (click)="logout()">
        Deconectare
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="content">
    <div class="p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="component" *ngIf="!isLoggedIn">
  <router-outlet></router-outlet>
</div>
