<div class="flex component" *ngIf="isLoggedIn">
  <mat-toolbar color="primary">
    <h1>{{name}}</h1>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button mat-icon-button routerLink="/items">
      <mat-icon>category</mat-icon>
    </button>
    <button mat-icon-button routerLink="/partners">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button routerLink="/invoices">
      <mat-icon>receipt</mat-icon>
    </button>
    <button mat-icon-button routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>

  <div class="p-1">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="component" *ngIf="!isLoggedIn">
  <router-outlet></router-outlet>
</div>
