<div class="table-container mat-elevation-z1">

    <div class="table-header flex row justify-between">
      <h3>Invoices</h3>
      <button mat-button (click)="addInvoice()">Add invoice</button>
    </div>
  
    <div class="loading-shade" *ngIf="loading">
      <mat-spinner [diameter]="50" *ngIf="loading"></mat-spinner>
    </div>
  
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total.toFixed(2)}} </td>
      </ng-container>
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> Currency </th>
        <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
      </ng-container>
      
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="flex p-1" style="width: 100%;">
              <div class="flex row justify-between">
                <h3><strong>{{element.name}}</strong></h3>
                <h3>{{element.date}}</h3>
              </div>
              <p>Client: {{element.partner.name}}</p>
              <app-invoice-lines [invoice]="element"></app-invoice-lines>
              <div class="self-align-end mt-1">
                <button mat-button 
                  color="accent" 
                  (click)="printInvoice(expandedElement)">
                  Print
                </button>
              </div>
            </div>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row 
        *matRowDef="let element; columns: columnsToDisplay;"
        class="element-row"
        [class.element-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row class="element-detail-row" *matRowDef="let row; columns: ['expandedDetail']"></tr>

    </table>
    <div class="flex row justify-between table-footer">
      <button mat-button [disabled]="!selection.hasValue()" (click)="printSelected()">Print</button>
      <mat-paginator [length]="dataSize" [pageSize]="10"></mat-paginator>
    </div>
  </div>