<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-6">
    <label for="name">Nume</label>
    <input [(ngModel)]="item.name" id="name" type="text" pInputText> 
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="code">Cod</label>
    <input [(ngModel)]="item.code" id="code" type="text" pInputText> 
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="type">Tip item</label>
    <p-dropdown inputId="type" 
      [options]="types" 
      [(ngModel)]="item.type"
      optionLabel="name"
      optionValue="value"
      placeholder="Selecteaza"></p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="vat">VAT</label>
    <input [(ngModel)]="item.vat" id="vat" type="number" pInputText> 
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="unitPrice">Pret</label>
    <input [(ngModel)]="item.unitPrice" id="unitPrice" type="number" pInputText> 
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="uom">Unitate de masura</label>
    <input [(ngModel)]="item.uom" id="uom" type="text" pInputText> 
  </div>
  <div class="p-field p-col-12">
    <label for="description">Descriere</label>
    <textarea [(ngModel)]="item.description" id="description" 
      type="text" rows="4" pInputTextarea></textarea>
  </div>
  <div class="p-col-12 p-d-flex p-ai-center">
    <p-progressSpinner *ngIf="loading" 
      [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
    <span style="flex: 1"></span>
    <p-button icon="pi pi-times" label="Anuleaza" 
      [disabled]="loading"
      styleClass="p-button-danger p-button-text" 
      (click)="cancel()"></p-button>
    <p-button icon="pi pi-check" label="Salveaza" 
      [disabled]="loading"
      styleClass="p-button-text"
      (click)="save()"></p-button>
  </div>
</div>