$color-primary: #303030;
$color-secondary: #424242;
$color-dark: #262626;

$color-bg-primary: #303030;
$color-bg-secondary: #424242;
$color-bg-dark: #262626;

$color-text-primary: #ffffff;
$color-text-secondary: hsla(0,0%,100%,.7);
