<div class="dialog-wrapper">

    <div class="inner-wrapper">
        <h1>Edit partner</h1>

        <form [formGroup]="requestForm">
            <div class="flex row wrap pt-1" formGroupName="partner">
                <mat-card-subtitle class="flex-10" style="text-align: right;">
                    Partner info
                </mat-card-subtitle>
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" required matInput type="text" name="name">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error>Enter a valid name</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" required matInput type="email" name="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error>Enter a valid email</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Phone</mat-label>
                    <input formControlName="phone" matInput type="text" name="phone">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error>Enter a valid phone</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex-5">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type" required>
                        <mat-option value="CLIENT">Client</mat-option>
                        <mat-option value="VENDOR">Vendor</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>amp_stories</mat-icon>
                    <mat-error>Choose a valid business type</mat-error>
                </mat-form-field>
            </div>
        </form>

        <div class="flex row justify-end">
            <button mat-button color="primary" (click)="update()" [disabled]="requestForm.invalid || loading">Save</button>
            <button mat-button color="warn" (click)="dismiss()">Cancel</button>
        </div>
    </div>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

</div>
  