<div class="login-wrapper flex justify-center">
    <mat-progress-bar *ngIf="loading" mode="indeterminate" class="login-loading"></mat-progress-bar>

    <mat-card class="login-card mat-elevation-z1">
        <form (submit)="login()" class="flex">
            <mat-card-title>
                <h1 class="login-title">{{appName}}</h1>
            </mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="fill" class="login-field">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="request.username" matInput type="email" name="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill" class="login-field">
                    <mat-label>Parola</mat-label>
                    <input [(ngModel)]="request.password" matInput [type]="hidePassword ? 'password' : 'text'" name="password">
                    <button mat-icon-button matSuffix
                        type="button"
                        (click)="hidePassword = !hidePassword"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button type="submit" [disabled]="loading">
                Conectare
                <mat-icon>login</mat-icon>
            </button>
        </form>
    </mat-card>
</div>
