<div class="login-wrapper flex justify-center">
    <mat-progress-bar *ngIf="loading" mode="indeterminate" class="login-loading"></mat-progress-bar>

    <div class="login-logo">LOGO</div>
    <mat-card class="login-card mat-elevation-z1">
        <mat-card-title>
            <h1 class="login-title">{{appName}} - Login</h1>
        </mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill" class="login-field">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="request.username" matInput type="email" name="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill" class="login-field">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="request.password" matInput [type]="hidePassword ? 'password' : 'text'" name="password">
                <button mat-icon-button matSuffix
                    (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>
        <div class="flex row justify-between">
            <button mat-stroked-button color="primary" [disabled]="loading" (click)="login()">
                Login
                <mat-icon>login</mat-icon>
            </button>
            <button mat-button routerLink="/register">Register</button>
        </div>
    </mat-card>
</div>
