<div class="p-d-flex p-flex-column invoices-wrapper">
  <app-menu></app-menu>
  <div class="p-d-flex p-p-2 invoices-content">
    <p-card class="main-card" header="Facturi">
      <p-table [value]="invoices" 
          styleClass="p-datatable-striped"
          [loading]="loading"
          [scrollable]="true" scrollHeight="400px"
          [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Nume</th>
            <th>Data</th>
            <th>Client</th>
            <th>Total</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
          <tr>
            <td>{{invoice.name}}</td>
            <td>{{invoice.date}}</td>
            <td>{{invoice.customer.name}}</td>
            <td>{{formatValue(invoice.total)}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center">
            <span>Actualizat la {{now}}</span>
            <p-button class="p-ml-2" type="button" icon="pi pi-refresh" 
              (click)="loadInvoices()" styleClass="p-button-text"></p-button>
            <span style="flex: 1"></span>
            <p-button label="Adauga factura"></p-button>
          </div>
        </ng-template>
      </p-table>
    </p-card>
    <div class="p-d-flex p-flex-column p-ml-2" style="flex: 1">
      
    </div>
  </div>
</div>