<h1>Linie factura</h1>
<form [formGroup]="lineForm" (ngSubmit)="save()" class="flex row wrap">
  <mat-form-field appearance="fill" class="flex-5">
    <mat-label>Serviciu</mat-label>
    <mat-select formControlName="item" required>
      <mat-option [value]="item"
          (click)="onSelectItem(item)"
          *ngFor="let item of items">
          {{item.name}}
      </mat-option>
    </mat-select>
    <mat-error>Alege un item valid</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="flex-5">
    <mat-label>Detalii</mat-label>
    <input formControlName="details" matInput name="details">
  </mat-form-field>
  <mat-form-field appearance="fill" class="flex-5">
    <mat-label>Cantitate</mat-label>
    <input formControlName="quantity" required matInput name="quantity">
    <mat-error>Introdu cantitatea</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="flex-5">
    <mat-label>TVA</mat-label>
    <mat-select formControlName="vat" required>
        <mat-option value="0.00">0 %</mat-option>
        <mat-option value="5.00">5.00 %</mat-option>
        <mat-option value="9.00">9.00 %</mat-option>
        <mat-option value="19.00">19.00 %</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="flex-5">
    <mat-label>Unitate de masura</mat-label>
    <input formControlName="uom" matInput name="uom">
  </mat-form-field>
  <mat-form-field appearance="fill" class="flex-5">
    <mat-label>Pret unitar</mat-label>
    <input formControlName="price" required matInput name="price" type="number">
    <mat-error>Introdu pretul unitar</mat-error>
  </mat-form-field>

  <div class="flex row justify-end">
    <button mat-button color="primary" [disabled]="lineForm.invalid">Adauga</button>
    <button mat-button color="warn" type="button" (click)="cancel()">Anuleaza</button>
  </div>
</form>
